@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */

:root {
  /* Primary */

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: #25564b; /*  (graphic design text) */
  --Dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --Dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */

  /* Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  --ff-sans: "Barlow", sans-serif;
  --ff-serif: "Fraunces", serif;

  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

/* General Settings */

body {
  font-family: var(--ff-sans);
  text-align: center;
}

h1,
h2 {
  font-family: var(--ff-serif);
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: var(--fw-black);
  color: var(--Very-dark-desaturated-blue);
  line-height: normal;
}

p {
  color: var(--Dark-grayish-blue);
  font-weight: var(--fw-black);
  font-size: 1.125rem;
  margin: 1.75rem 0 2.5rem 0;
}

/* Header */

header {
  background: url("../images/mobile/image-header.jpg") no-repeat center
    center/cover;
  height: fit-content;
  padding: 2rem;
}

.header__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburgerIcon:hover {
  cursor: pointer;
}

header h1 {
  color: var(--White);
  font-weight: var(--fw-black);
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
  margin-top: 5.5rem;
}

header > img {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5.25rem;
}

.triangle {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-1px, -100%);
  background-image: linear-gradient(135deg, transparent 50%, white 50%);
}

.nav__top {
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--White);
  padding: 2.25rem;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 85%;
  transform: translateX(-50%);
}

.nav__top > a {
  text-decoration: none;
  color: var(--Very-dark-grayish-blue);
  font-size: 1.1875rem;
}

#contact {
  background-color: var(--Yellow);
  width: fit-content;
  align-self: center;
  padding: 1rem 2.25rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: 1rem;
  color: var(--Very-dark-desaturated-blue);
}

/* Sections */

.decorative_images {
  width: 100%;
}

.text {
  padding: 4.25rem 2rem;
}

.learn {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--fw-black);
  font-family: var(--ff-serif);
  background-image: linear-gradient(to bottom, var(--White) 60%, #fef3b5 60%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.learn:hover {
  cursor: pointer;
}

.pink {
  background-image: linear-gradient(to bottom, var(--White) 60%, #fcdad1 60%);
}

.design {
  background: url(../images/mobile/image-graphic-design.jpg) no-repeat center
    top/cover;
}

.text__background {
  padding: 106% 1.125rem 2rem 1.125rem;
}

.text__background h2,
.text__background p {
  color: var(--Dark-desaturated-cyan);
  font-weight: var(--fw-black);
}

.text__background h2 {
  font-size: 1.75rem;
}

.text__background p {
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.photography {
  background: url(../images/mobile/image-photography.jpg) no-repeat center
    top/cover;
}

.photography h2,
.photography p {
  color: var(--Dark-blue);
}

.quotes {
  padding: 3.5rem 1.75rem 6rem 1.75rem;
  display: grid;
  gap: 4rem;
}

figure {
  display: grid;
  gap: 2.25rem;
  font-size: 1.125rem;
  color: var(--Very-dark-grayish-blue);
}

figure img {
  width: 4.5rem;
  border-radius: 50%;
  margin: auto;
}


.testimonials h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.1875rem;
  color: var(--Grayish-blue);
}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quote_name {
  font-family: var(--ff-serif);
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--fw-black);
}

.quote_job {
  font-size: 0.9375rem;
  color: var(--Grayish-blue);
}

.testimonials__images:nth-child(1) {
  grid-area: one;
}

.testimonials__images:nth-child(2) {
  grid-area: two;
}

.testimonials__images:nth-child(3) {
  grid-area: three;
}

.testimonials__images:nth-child(4) {
  grid-area: four;
}

.bottom_pics {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
}

footer {
  background-color: hsl(167, 44%, 70%);
  padding: 4rem 2.5rem;
}

footer > img {
  margin: auto;
  width: 11rem;
  margin-bottom: 2.25rem;
}

.info {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

.info a {
  text-decoration: none;
  color: var(--Dark-moderate-cyan);
}

.info a:hover {
  cursor: pointer;
  color: var(--White);
}

.contact_icons {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 5rem;
}

ion-icon {
  font-size: 1.5rem;
  color: var(--Dark-desaturated-cyan);
}

ion-icon:hover {
  cursor: pointer;
  color: var(--White);
}

.attribution {
  margin-top: 2rem;
  font-size: 0.6875rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query Desktop */

@media screen and (min-width: 70em) {
  .sunnyside_logo {
    width: 10rem;
  }

  .nav__top {
    position: unset;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    background-color: unset;
    width: unset;
    top: unset;
    left: unset;
    transform: unset;
    padding: unset;
  }

  .nav__top > a {
    align-items: center;
    color: var(--White);
  }

  #contact {
    background-color: var(--White);
  }

  #contact:hover {
    background-color: #6eceff;
    color: var(--White);
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .triangle {
    display: none;
  }

  #hamburgerIcon {
    display: none;
  }

  header {
    background-image: url(../images/desktop/image-header.jpg);
    padding: 2rem 2.75rem 4.5rem 2.75rem;
  }

  header h1 {
    font-size: 3.5rem;
    margin-top: 6.25rem;
  }

  header > img {
    margin-top: 5.25rem;
    margin-bottom: 16rem;
  }

  h2 {
    font-size: 2.375rem;
  }

  .transform,
  .stand {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .transform {
    grid-template-areas: "one two";
  }

  .stand {
    grid-template-areas: "two one";
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    grid-area: one;
  }

  .text > h2,
  .text > p {
    padding: 0 5.25rem;
  }

  .decorative_images {
    grid-area: two;
  }

  .learn {
    display: block;
    width: 9rem;
    margin-top: 1rem;
    margin-left: 5rem;
  }

  .fruits {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .design {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }

  .photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }

  .text__background {
    padding: 57% 10rem 2rem 10rem;
  }

  .quotes > h2 {
    grid-area: one;
    font-size: 1.25rem;
  }

  figure:nth-child(1) {
    grid-area: two;
  }

  figure:nth-child(2) {
    grid-area: three;
  }

  figure:nth-child(3) {
    grid-area: four;
  }

  .quotes {
    display: grid;
    gap: 4.75rem;
    grid-template-areas:
      "one one one"
      "three four two";
    padding: 9.5rem 10rem 9.75rem 10rem;
  }

  figure {
    gap: 4rem;
  }

  .grid_pics:nth-child(1) {
    grid-area: one;
  }

  .grid_pics:nth-child(2) {
    grid-area: two;
  }

  .grid_pics:nth-child(3) {
    grid-area: three;
  }

  .grid_pics:nth-child(4) {
    grid-area: four;
  }

  .bottom_pics {
    grid-template-areas: "one two three four";
  }
}

/* Classes for JavaScripts */

.menuDisplay {
  display: flex;
}
